<a href="https://colab.research.google.com/github/Sidratul-M/CSE427/blob/main/21301300_SidratulMontaha_CSE427LabAssignment5ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#read data from CSV file
file_link = 'https://drive.google.com/file/d/18oM2JuaKEJLnBk5T4ldn30THF3MMV4eM/view?usp=drive_link'
#loan_data = pd.read_csv(file_link)
new_link = f'https://drive.google.com/uc?id={id}'
loan_data= pd.read_csv(new_link)
loan_data_info = loan_data.info()
loan_data_preview = loan_data.head()

loan_data_info, loan_data_preview

# get the id part of the file
id = file_link.split("/")[-2]

# creating a new link using the id for better readability of csv file in pandas

# df.count()
# df['Class'].value_counts()
# df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      1198 non-null   float64
 1   person_gender                   1192 non-null   object
 2   person_education                1182 non-null   object
 3   person_income                   1182 non-null   float64
 4   person_emp_exp                  1195 non-null   float64
 5   person_home_ownership           1195 non-null   object
 6   loan_amnt                       1188 non-null   float64
 7   loan_intent                     1173 non-null   object
 8   loan_int_rate                   1190 non-null   float64
 9   loan_percent_income             1187 non-null   float64
 10  cb_person_cred_hist_length      1192 non-null   float64
 11  credit_score                    1189 non-null   float64
 12  previous_loan_defaults_on_file  1190 non-null   object
 13  loan_status                     1199 non-null   int64
dtypes: float64(8), int64(1), object(5)
memory usage: 131.3+ KB

EDA and Pre-processing

In [ ]:
# Separate features and target variable
X=loan_data.drop(columns=["loan_status"])
y=loan_data["loan_status"]

In [ ]:
# check for null values
df.isnull().sum()

person_age                         1
person_gender                      7
person_education                  17
person_income                     17
person_emp_exp                     4
person_home_ownership              4
loan_amnt                         11
loan_intent                       26
loan_int_rate                      9
loan_percent_income               12
cb_person_cred_hist_length         7
credit_score                      10
previous_loan_defaults_on_file     9
loan_status                        0
dtype: int64

In [ ]:

from sklearn.impute import SimpleImputer
categorical_cols = X.select_dtypes(include=["object"]).columns
cat_imputer=SimpleImputer(strategy="most_frequent")
X[categorical_cols]=cat_imputer.fit_transform(X[categorical_cols])

In [ ]:
loan_data.drop_duplicates()
loan_data.shape

(1199, 14)

In [ ]:

numerical_cols=X.select_dtypes(include=["float64"]).columns
num_imputer=SimpleImputer(strategy="mean")
X[numerical_cols]=num_imputer.fit_transform(X[numerical_cols])

In [ ]:
#encode
from sklearn.preprocessing import StandardScaler, LabelEncoder
label_encoders={}
for col in categorical_cols:
    le=LabelEncoder()
    X[col]=le.fit_transform(X[col])
    label_encoders[col]=le

# Implementing SVM Using Scikit-learn Library

In [ ]:
#train/test split
from sklearn.model_selection import train_test_split
#standardize
scaler = StandardScaler()
X[numerical_cols]=scaler.fit_transform(X[numerical_cols])
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)
X_train.shape, X_test.shape, y_train.value_counts(), X_train.head()

((839, 13),
 (360, 13),
 loan_status
 1    438
 0    401
 Name: count, dtype: int64,
      person_age  person_gender  person_education  person_income  \
 401   -0.310862              0                 1       0.583628
 726    0.301155              0                 1       0.006131
 646   -0.157857              1                 1      -0.947070
 168    0.148151              1                 1      -0.356103
 664   -0.310862              1                 0      -0.937185

      person_emp_exp  person_home_ownership  loan_amnt  loan_intent  \
 401        0.144033                      3   0.879108            2
 726        0.294751                      3   0.382202            1
 646       -0.308120                      0  -1.713187            1
 168        0.144033                      3   0.980884            2
 664       -0.308120                      0  -1.294109            1

      loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
 401       0.973648            -0.414746                    0.000000
 726      -0.343850            -0.046186                    0.000000
 646       1.594039            -1.151866                   -1.225768
 168       1.594039             1.428053                    1.225768
 664       1.317198             0.045954                    1.225768

      credit_score  previous_loan_defaults_on_file
 401      1.164996                               0
 726     -0.462402                               0
 646     -2.069458                               1
 168      0.941229                               0
 664     -0.055553                               0  )

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
svm_model = SVC(kernel="rbf", random_state=42)
svm_model.fit(X_train, y_train)
y_pred = svm_model.predict(X_test)
#Eval
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.8833333333333333